.heading {
    transition: all 1s ease-in-out;
}

.heading:hover {
    background: red;
}

a {
    color: darkorange;
}

a:link {
    color: deeppink;
}

a:visited {
    color: firebrick;
}

a:hover {
    background: darkblue;
    color: white;
    text-decoration: none;
}

a:active {
    background: darkslategray;
    color: white;
    text-decoration: none;
}

input:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: 1px solid black;
    outline: none;
}

input:disabled {
    background-color: rebeccapurple;
    cursor: not-allowed;
}

input:checked {
    width: 50px;
    height: 50px;
}

input:checked + p {
    background: red;
}

.papai .lista li:first-child {
    background: red;
}

.papai .lista li:last-child {
    background: blueviolet;
}

p:not(.meio) {
    color: blue;
}